body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, ul, ol, li, input, button, form, span {
	box-sizing: border-box;
}  

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	letter-spacing: 0.01em;
}
.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	background: rgba(71,62,95,1);
	background: -moz-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(42,34,64,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(71,62,95,1)), color-stop(100%, rgba(42,34,64,1)));
	background: -webkit-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(42,34,64,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(42,34,64,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(71,62,95,1) 0%, rgba(42,34,64,1) 100%);
	background: linear-gradient(135deg, rgba(71,62,95,1) 0%, rgba(42,34,64,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#473e5f', endColorstr='#2a2240', GradientType=1 );
	padding-top: 100px;
	color: #fff;
	padding-bottom: 225px;
}
p{
	line-height: 1.6em;
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
margin-top: 176px;
width: 480px;
}

.title {
	font-style: 36px;
}
.title span {
	color: #48ed8e;

}
.intro {
	margin-top: 30px;
	margin-bottom: 37px;
	width: 380px;

}
.btn {
	background: #ed9619;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	border-radius: 100px;
	display: block;
	width: 205px;
	padding: 19px 0px;
	text-align: center;
	text-decoration: none;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #dc8913;
}

.desktop {
	margin-top: 72px;

}

.learn {
	padding-top: 108px;
	padding-bottom: 120px;

}

h2.title {
	font-style: 30px;

}

.skills {
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
}

.skill {
	width: 350px;
	background: url('../img/icon1.jpg') no-repeat left top;
	padding-left: 100px; 
}

.skill-title {
	font-size:  italic;
}
.skill-text {
	margin-top: 7px;

}

.skill-free {
	width: 380px;
	background: url('../img/icon2.jpg') no-repeat left top;
}

.skill-life {
	background: url('../img/icon3.jpg') no-repeat left top;
}

.mail {
	background: #efecf4;
	padding-top: 180px;
	padding-bottom: 190px;
}

.footer {
	background: #201b2d;
	padding-top: 30px;
	padding-bottom: 40px;
}

.form {
	margin-top:  40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
}

#input {
	border: 1px solid #bfb8d1; 
	border-radius:  100px;
	width: 474px;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	height: 56px;
	padding-left: 38px;
}

.btn-form {
	border: 0;
	margin-left: 12px;
	cursor: pointer;
}
.credits {
	margin: 30 0;
	color: #bfb8d1;
	font-size: 14px;
}
